/* Ogólny styl strony */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #444;
}

form {
    margin: 10px 0;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

label {
    font-weight: bold;
}

input[type="file"] {
    margin: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Odstęp między kolumnami */
    padding: 20px;
}

.list-container {
    width: 23%; /* Każda kolumna zajmuje 23% szerokości */
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

li:hover {
    background-color: #e9e9e9;
}

/* Styl dla nagłówków list */
.list-container h2 {
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 15px;
}