<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">PAINTING FACTORY</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<a href="/" class="reset-button">Reset Application</a>

<h1>PAINTING FACTORY</h1>

<!-- Formularze -->
<form method="post" action="/generate">
    <button type="submit">Generate Input</button>
</form>

<form method="post" enctype="multipart/form-data" action="/upload">
    <label for="file">Upload JSON File:</label>
    <input type="file" id="file" name="file" accept="application/json">
    <button type="submit">Upload</button>
</form>

<form method="post" action="/calculate" th:if="${vehicles != null}">
    <button type="submit">Calculate Total Painting Time</button>
</form>

<form method="post" action="/sort" th:if="${totalTime > 0 and numberOfDays > 0}">
    <button type="submit">Sort Vehicles by Best Strategy</button>
</form>

<form method="post" action="/generate-output" th:if="${sortedByDays != null}">
    <button type="submit">Generate Output</button>
</form>

<div class="list-container full-width">
    <h1>Strategies Details</h1>
    <table>
        <thead>
        <tr>
            <th>Strategy</th>
            <th>Total Time (min)</th>
            <th>Number of Days</th>
            <th>Position Change Delay (min)</th>
            <th>SUV Time (min)</th>
            <th>Car Time (min)</th>
            <th>Truck Time (min)</th>
            <th>Color Change Time (min)</th>
            <th>Initial Color Load Time (min)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="details : ${strategyDetails}">
            <td th:text="${details.strategyName}"></td>
            <td th:text="${details.totalTime}"></td>
            <td th:text="${details.numberOfDays}"></td>
            <td th:text="${details.positionChangeDelay}"></td>
            <td th:text="${details.suvTime}"></td>
            <td th:text="${details.carTime}"></td>
            <td th:text="${details.truckTime}"></td>
            <td th:text="${details.colorChangeTime}"></td>
            <td th:text="${details.initialColorLoadTime}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <!-- Kolumna 1: Oryginalne pojazdy -->
    <div class="list-container">
        <h2>Total Painting Time: <span th:text="${totalTime}">0</span> minutes</h2>
        <h2>Number of Working (8h) Days: <span th:text="${numberOfDays}">0</span></h2>
        <h1>Original Vehicles</h1>
        <ul>
            <li th:each="vehicle : ${vehicles}" th:text="${vehicle}"></li>
        </ul>
    </div>

    <!-- Kolumna 2: Posortowane pojazdy -->
    <div class="list-container">
        <h2>Time for Chosen Strategy: <span th:text="${strategyTime}">0</span> minutes</h2>
        <h2>Number of Days for Chosen Strategy: <span th:text="${strategyDays}">0</span></h2>
        <h2>Chosen Strategy: <span th:text="${sortedBy}">None</span></h2>
        <h1>Sorted Vehicles</h1>
        <ul>
            <li th:each="vehicle : ${sortedVehicles}" th:text="${vehicle}"></li>
        </ul>
    </div>

    <!-- Kolumna 3: Posortowane pojazdy podzielone na dni -->
    <div class="list-container">
        <h1>Sorted Vehicles by Days</h1>
        <div th:each="day, stat : ${sortedByDays}">
            <h2>DAY <span th:text="${stat.index + 1}"></span></h2>
            <ul>
                <li th:each="vehicle : ${day}" th:text="${vehicle}"></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>